body {
    background-color:lightgray;
    margin:80px 160px 80px 160px;
    height: 640px;
    width: 960px;
    position: relative;
    overflow: hidden;
}

body > svg {
    height: 640px;
    width: 960px;
}

