html {
    height: 100%;
    width: auto;
}

body {
    position: relative;
    height: 100%;
    width: auto;
    overflow: hidden;
    display: block;
}

#sidr {
    overflow-x: hidden;
}

.holo-divider {
    font-weight: bold;
}

#simulation {
    margin-left:260px;
    position: relative;
    overflow: hidden;
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}
